.label-font {
  font-weight: normal;
}

.required:after {
  content: " *";
  color: red;
}

.add-button {
  height: 37px;
  width: 107px;
  float: right !important;
  color: #fff;
  margin-top: 10px;
}

.upload-button {
  width: 107px;
  float: right !important;
  margin-bottom: 40px;
  margin-top: -25px;
  padding: 7px;
  margin-right: 1px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
div:empty {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.emp-name,
.emp-contact {
  font-size: 16px;
  color: #565656;
}

.upload-date {
  font-size: 12px;
  color: #565656;
}

.bg-primary-active {
  background-color: #321fdb !important;
}
.bg-dark-Inactive {
  background-color: #666666 !important;
}

.page-header {
  padding-top: 16px;
}

.title {
  padding-left: 6px;
  font-size: 24px;
  color: #565656;
  font-weight: 500;
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.animate {
  animation: FadeAnimation 4s ease-in 0.1s forwards;
}

.icon {
  font-size: 1.2rem;
}
.edit {
  padding-left: 10px;
}
.svg {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  color: grey;
  margin-left: 15px;
}

.alert {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  width: 50%;
  margin-top: 12px;
}
.failed {
  color: #d41b1b;
  font-weight: 500;
}
.icon-failed {
  color: #d41b1b;
  padding-left: 8px;
  padding-bottom: 4px;
}
.page-header {
  margin-bottom: 45px;
}
.search-field {
  float: right;
  margin-left: 24px;
  margin-top: 10px;
}
.search-icon {
  color: #ffffff;
}
.search-icon-box {
  background-color: #636f83;
  border-color: #636f83;
}
.noDataTxt {
  margin: 14px 0 0 4px;
  font-size: 16px;
  font-style: italic;
  color: #565656;
}
.singleRow {
  width: 100%;
  margin: 10px 0;
}
.employerTitle {
  color: #565656;
  height: auto;
  margin-bottom: 8px !important;
}
.employerTitleLeft {
  float: left;
  width: 100%;
  text-transform: capitalize;
}
.employerTitleRight {
  float: right;
}
.singleTab_block {
  margin-top: 40px;
}
.button-reload,
.button-failed {
  margin: 0 5px 0 5px;
  border: none;
  background-color: transparent;
}
.cursor-pointer {
  cursor: pointer;
}
