.label-font {
  font-weight: normal;
}

.form-border {
  padding: 20px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 6px;
  min-height: 200px;
}

.required:after {
  content: " *";
  color: red;
}

.datatable {
  margin-top: 50px;
}

.cardtitle {
  padding: 3px;
}
.button {
  width: 10em;
  float: right !important;
  margin-bottom: 40px;
  margin-top: -25px;
  padding: 7px;
  margin-right: 1px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.upload > input {
  display: none;
}

.upload {
  width: 80px;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
div:empty {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.emp-name {
  height: 19px;
  margin: 17px 73px 24px 60px;
  font-weight: 500;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #565656;
}
.emp-contact {
  height: 19px;
  margin: 17px 73px 24px 60px;
  font-weight: 500;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #565656;
}
.bg-primary-active {
  background-color: #321fdb !important;
}
.bg-dark-Inactive {
  background-color: #666666 !important;
}

.emp-header {
  background-color: white;
  border-bottom: 0px;
}
.table-border {
  padding: 20px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 6px;
  min-height: 200px;
}
.title {
  margin: 0px;
  padding: 0px 10px 4px 6px;
  font-size: 24px;
  height: 27px;
}
.datatable {
  margin-top: 40px;
}
.row-header {
  height: 14px;
  margin: 10px 71px 10px 77px;
  font-weight: 500;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #565656;
}
.date {
  height: 11px;
  margin: 22px 8.5px 27px 13px;
  font-weight: 500;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #565656;
}
@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.animate {
  animation: FadeAnimation 4s ease-in 0.1s forwards;
}

.icon {
  font-size: 1.2rem;
}
.edit {
  padding-left: 10px;
}
.svg {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  color: grey;
  margin-left: 15px;
}
svg:hover {
  cursor: pointer;
}

.alert {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  width: 50%;
  margin-top: 12px;
}
.table-header {
  padding-left: 30px;
}
.button-reload,
.button-failed {
  margin: 0 5px 0 5px;
  border: none;
  background-color: transparent;
}
.icon-failed {
  color: #e55353;
}
.fileLabel {
  margin: 0 !important;
}
.circle-icon {
  padding: 0px 2px 3px 0px;
  margin-left: 5px;
}

.loader-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.textclass {
  font-weight: bold;
}
.modal-scrollbar {
  height: 30rem;
  overflow: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}
