.forgotPassword {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  max-width: 600px;
}

.forgotPasswordinr {
  width: 100%;
  float: left;
}

.forgotPassword p {
  font-size: 14px;
  line-height: 1.4;
}

.forgotpass-header {
  background-color: transparent;
  padding-bottom: 0 !important;
}

.forgotPassword input[type="text"] {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 2em 0;
}

.forgotPassword button {
  width: auto;
  padding: 10px 60px;
  cursor: pointer;
  display: block;
  line-height: 1;
  float: left;
}
.forgotPassword .btn-primary:not(:disabled):not(.disabled).active:focus,
.forgotPassword .btn-primary:not(:disabled):not(.disabled):active:focus,
.forgotPassword .show > .btn-primary.dropdown-toggle:focus {
  outline: transparent;
  box-shadow: none;
}
.forgotpass-header {
  border-bottom: none;
}

.statusBlock {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

.statusDispBlock {
  width: 100%;
  float: left;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

.statusDispBlockinr {
  width: 100%;
  float: left;
}

.error {
  background: #b74453;
  color: white;
}

.success {
  background: green;
  color: white;
}
