// Here you can add other styles
.c-active{
    font-weight: 900;
}
.c-body{
    background-color: #fff;
}

.breadcrumb{
    background-color: #fff !important;
}

.card{
    border:none !important;
}

.card-header {
    padding: .75rem 0rem !important;
}

.card-body {
    padding: 1.25rem 0 !important;
}
.status-text{
    position:absolute;
    font-weight: 500;
    color: #6c757d!important;
}
.modal-body-question{
    width: 396px;
    height: 38px;
    margin: 19px 0 11px 1px;
    color: #565656;
}
.modal-small-text {
    font-size:12px;
  } 

.spinner-alignment {
    margin-top: 20%;
    margin-left: 50%;
}  
.badge-badge-primary {
  color: #fff;
  background-color:#321fdb !important
}
.badge-badge-secondary {
  color: #fff;
  background-color:#666666 !important;
}

